---
import { Icon } from "astro-icon/components";

---
<div class="form-container hidden">
    <form class="form" action="https://formsubmit.co/juanpabloyague@gmail.com" method="POST">
        <div class="form__img">
            <img src="/images/person-glasses.jpg"/>
        </div>
        <div class="form__info">
            <div class="form__info__title">
                <h2 class="form__title">Contact me!</h2>
                <Icon id="close-form" name="cross"/>
            </div>

            <div class="form__names">
                <input placeholder="First name" type="text" id="first-name" />
                <input placeholder="Last name" id="last-name" type="text"  />
            </div>
            <div class="form__inputs">
                <input placeholder="Email" id="email"  type="email" />
            </div>
            <div class="form__inputs">
                <textarea placeholder="Your message..." id="message"></textarea>
            </div>
            <input type="submit" value="Submit"  class="form__submit"/>
            <div class="alert" id="alert-message">
                Please enter a valid email address.
            </div>
        </div>



    </form>
</div>

<style>
    .alert {
        background-color: #DC143C;
        padding: 1rem 2rem;
        text-align: center;
        font-weight: bold;
        margin-top: 2rem;
        display: none;
    }
    .form-container {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background: rgb(0 0 0 / .65);
        display: grid;
        place-items: center;
    }
    .form-container.hidden {
        display: none;
    }

    .form {
        display: flex;
        padding: 2rem;
        background: #2660FE;
        color: #fff;
        border-radius: 1rem;
        align-items: center;
    }

    @media (min-width: 768px) {
        .form {
            width: 60%;
            gap: 2rem;
            //align-items: center;
        }
    }

    .form input, .form textarea {
        border: none;
        padding: 1rem;
        border-radius: 1rem;
    }

    .form textarea {
        font-family: inherit;
    }


    .form input:focus, .form textarea:focus  {
        outline: 2px solid #fff;
    }

    @media (min-width: 768px) {
        .form__info {
            flex: 1;
        }
    }

    .form__info__title {
        display: flex;
        align-content: center;
        justify-content: space-between;
    }

    .form__info__title svg{
        font-size: 2.5rem;
    }

    .form__img {
        display: none;
    }

    @media (min-width: 768px) {
        .form__img {
            display: inline-block;
            //width: 20rem;
            flex: 1;
        }

        .form__img img {
            border-radius: 1rem;
        }
    }

    .form__names {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }

    .form__inputs {
        margin-top: 2rem;
    }
    .form__inputs input, .form__inputs textarea {
        width: 100%;
    }

    .form__inputs textarea {
        margin-bottom: 2rem;
    }

    .form__submit {
        width: 100%;
        background: #fff;
        cursor: pointer;
        font-family: inherit;
        font-size: 1.5rem;
        transition: all .5s;
    }

    .form__submit:hover {
        background: #000;
        color: #fff;
    }


</style>

<script>
    import { toggleForm } from "../scripts/toggleForm";

    document.addEventListener("DOMContentLoaded", () => {
        const closeIcon = document.getElementById("close-form")!;
        closeIcon.addEventListener("click", toggleForm);
        const form = document.querySelector("form") as HTMLFormElement;
        const alertMessage = document.getElementById("alert-message")as HTMLDivElement;

        const  validateForm = (event: SubmitEvent): boolean => {
            const firstName = (document.getElementById("first-name") as HTMLInputElement).value;
            const lastName = (document.getElementById("last-name") as HTMLInputElement).value;
            const email = (document.getElementById("email") as HTMLInputElement).value;
            const message = (document.getElementById("message") as HTMLTextAreaElement).value;

            if (!firstName || !lastName || !email || !message) {
                alertMessage.textContent = "Please fill out all fields.";
                alertMessage.style.display = "block"; // Show the alert
                event.preventDefault();
                return false;
            }

            const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            if (!emailPattern.test(email)) {
                alertMessage.textContent = "Please enter a valid email address.";
                alertMessage.style.display = "block"; // Show the alert
                event.preventDefault();
                return false;
            }

            form.reset();
            toggleForm();
            return true;
        }

        form.addEventListener("submit", validateForm);
    });




</script>