---

---
<div class="form-container">
    <form class="form">
        <div class="form__img">
            <img src="../../public/images/person-glasses.jpg"/>
        </div>
        <div class="form__info">
            <h2 class="form__title">Contact me!</h2>
            <div class="form__names">
                <input placeholder="First name" type="text" />
                <input placeholder="Last name" type="text"  />
            </div>
            <div class="form__inputs">
                <input placeholder="Email" type="email" />
                <textarea></textarea>
            </div>
            <input type="submit" value="Submit"  class="form__submit"/>
        </div>
    </form>
</div>

<style>
    .form-container {
        position: absolute;
        display: grid;
        place-items: center;
    }

    .form {
        display: flex;
    }
</style>
